<!doctype html>
<html lang="ko">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}" />

    <title>Make Collabo</title>
  </head>
  <body>
    
    <!-- Navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>                        
          </button>
          <a class="navbar-brand" href="/">Make Collaboration</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li><a href="/#get-started">WHO R U</a></li>
            <li><a href="/#most-stared">MOST STARED</a></li>
            <li><a href="{% url 'viewmore' %}">VIEW POSTS</a></li>
            <li><a href="{% url 'about' %}">ABOUT</a></li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            {% if not user.is_authenticated %}
            <li><a href="{% url 'login' %}">Sign in</a></li>
            <li><a href="{% url 'signup' %}">Sign up</a></li>
            {% else %}
            <li><a href="{% url 'logout' %}">Log out</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    <!--<div class="container-fluid">-->
    <div class="jumbotron">

      <h1 style="color: #FFFFFF;">MakeCollabo</h1>
      <a class="btn btn-default btn-lg" href="#get-started" role="button"><span class="glyphicon glyphicon-send"></span>  Get Started</a>

    </div>
  
    <div id="get-started" class="conatiner-fluid devdes-back">
      <div class="container">

        <h1 style="color: #FFFFFF; font-size:45px; margin-top: 50px;">I am..</h1>
        <div class="row">
           <div class="col-xs-6">
            <span class="glyphicon glyphicon-cog dicon"></span><br>
            <p class="dtxt">Back End</p>
            <a class="btn btn-default btn-lg" href="#" role="button"><span class="glyphicon glyphicon-cog"></span> Developer</a>
           </div>
           <div class="col-xs-6">
            <span class="glyphicon glyphicon-leaf dicon"></span><br>
            <p class="dtxt">Front End</p>
            <a class="btn btn-default btn-lg" href="#" role="button"><span class="glyphicon glyphicon-leaf"></span> Developer</a>   
          </div>
        </div>
      </div>
    </div>
    
    
    <div id="most-stared" class="container-fluid most-star-bg">
      <div>
        <h1 style="color: #ffffff; margin-top: 50px;">Most started</h1><br>
      </div>

      <div class="row">
        {% for i in "xxxxxx" %} 
        <div class="col-sm-6 col-md-6 col-lg-4">
          <div class="panel panel-warning">
            <div class="panel-heading"><h3 class="panel-h3">Lorem Ipsum Dolor</h3></div>
              <div class="panel-body text " style="padding: 10px; height: 300px; overflow: hidden; ">
                
               <p style="font-size: 18px; padding-top: 15px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam massa orci, rutrum id ex porttitor, cursus laoreet quam. Fusce nisi mauris, cursus vel elit quis, dapibus eleifend tortor. Praesent ultricies fermentum tortor. Cras nec nisi mollis, mattis eros et, venenatis est. Morbi sed odio dapibus, placerat quam et, tincidunt tellus. Phasellus ante nibh, pulvinar nec orci vitae, feugiat viverra est. Duis et lectus ultrices, consequat quam ac, consequat metus. Phasellus aliquet facilisis ante. Nam sit amet erat consequat, rutrum justo id, auctor odio. Integer vel consequat augue. Etiam luctus nibh dui, quis consequat elit dictum quis. Suspendisse sagittis ullamcorper congue.</p>
              </div><!--panel-body-->
            <div class="panel-footer"><p>Lorem Ipsum  -  2017/01/07 23:04</p></div>
          </div><!--panel-->
        </div> <!--col-->
        {% endfor %}
      </div><!-- row -->

      <div class="row text-center view-more">
        <a href="{% url 'viewmore' %}">view more</a><br><br>
      </div>
    </div><!--container-->


   <!--
  <div class="container-fluid text-center dev-info">
    <br>
    <div class="row">
      <div class="col-xs-4 col-md-2">
        <span class="glyphicon glyphicon-user iicon"></span>
        <h5>Chris Yunbin Chang</h5>
      </div>
      <div class="col-xs-4 col-md-2">
        <span class="glyphicon glyphicon-earphone iicon"></span>
        <h5>+82 10-4107-3727</h5>
      </div>
      <div class="col-xs-4 col-md-2">
        <span class="glyphicon glyphicon-envelope iicon"></span>
        <h5>hw@yunbin.kr</h5>
      </div>
      <div class="col-xs-4 col-md-2">
        <span class="glyphicon glyphicon-user iicon"></span>
        <h5>Jack Shin</h5>
      </div>
      <div class="col-xs-4 col-md-2">
        <span class="glyphicon glyphicon-earphone iicon"></span>
        <h5>+82 10-5180-5733</h5>
      </div>
      <div class="col-xs-4 col-md-2">
        <span class="glyphicon glyphicon-envelope iicon"></span>
        <h5>jackshin57@gmail.com</h5>
      </div>
    </div>-->
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>