.sign-margin {
	margin-top: 12%;
}

.navbar {
	margin-bottom: 0px;
}
@media screen and (max-width: 620px) {
	.main-text {
		padding-top: 2%;
	}
}

@media screen and (max-width: 480px) {
  .main-text {
		padding-top: 2%;
	}
}
